<section class="grid_12" style="margin-bottom:10px">
  <div class="grid_6">
    <div class="block-border">

      <div style="overflow:auto">
        <table class="table" style="border: black;border-style:solid; border-width:thin; width:100%">
          <tbody>
            <tr>
              <td>Member</td>
              <td>1234</td>
              <td>Branch</td>
              <td>5678</td>
            </tr>
            <tr>
              <td>Employee</td>
              <td>1234</td>
              <td>CASH</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Fixed Deposit</td>
              <td>1234</td>
              <td>BANK</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Recurring Deposit</td>
              <td>1234</td>
              <td>Income</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Loan A/c</td>
              <td>1234</td>
              <td>Expense</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Saving A/c</td>
              <td>1234</td>
              <td>Outstanding</td>
              <td>1234</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="grid_6">
    <div class="block-border">
      <div style="overflow:auto">
        <table class="table" style="border: black;border-style:solid; border-width:thin; width:100%">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>User Code</th>
              <th>User Name</th>
              <th>Login Time</th>
              <th>IP Address</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let L of MemberList; let i= index;">
              <td>{{i+1}}</td>
              <td>{{i+1}}</td>
              <td>{{i+1}}</td>
              <td>{{i+1}}</td>
              <td>{{i+1}}</td>
            </tr>

          </tbody>

        </table>
      </div>
      </div>
  </div>
  </section>
<section class="grid_12">

  <div class="grid_4">
    <div class="block-border">

      <div style="overflow:auto">
        <table class="table" style="border: black;border-style:solid; border-width:thin; width:100%">
          <tbody>
            <tr>
              <td>Policy Code</td>
              <td>Due Date</td>
              <td>Maturity Date</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="grid_4">
    <div class="block-border">

      <div style="overflow:auto">
        <table class="table" style="border: black;border-style:solid; border-width:thin; width:100%">
          <tbody>
            <tr>
              <td>Member Code</td>
              <td>Birthday Date</td>
              <td>Year Completion</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="grid_4">
    <div class="block-border">

      <div style="overflow:auto">
        <table class="table" style="border: black;border-style:solid; border-width:thin; width:100%">
          <tbody>
            <tr>
              <td>Event</td>
              <td>Holiday</td>
              <td>Date</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>

</section>
